*{
	padding: 0;
	margin: 0;
}
.blackTop{/*顶部黑色区域*/
	background-color: black;
	width: 100%;
	height: 30px;
	position: relative;
	overflow: hidden;
	line-height: 28px;
	font-weight: bold;
}
@media screen and (max-width: 768px){
	/*如果文档宽度小于 768像素则隐藏*/
	.blackTop{
		display: none;
	}
}
.container{
	width: 80%;
	margin: 0 auto;
	position: relative;
}
.website{
	float: left;
}
.blackTop a{
	color: white;
	text-decoration: none;	
	font-size: 12px;
}
.blackTopRight{
	float: right;
}
.blackTopRight img{/*右侧球和锁*/
	width: 15px;
	float: left;
	padding: 8px 10px;
}
.elect{/*选择区域/语言*/
	float: right;
	margin-right: 10px;
}

.register{/*登录*/
	float: right;
	border-left: 1px solid darkgray;
}
.elect a:hover{
	text-decoration: underline;
}
.register a:hover{
	text-decoration: underline;
}

.websiteContainer{/*集团网站 隐藏部分*/
	width: 100%;
	height: 150px;
	display: none;
}
.websiteUl{
	list-style-type: none;
	padding: 40px 0;
}
.websiteLi{
	float: left;
	width: 19%;
	padding-right: 60px;
	font-size: 14px;
}
.websiteLi h4{
	margin-bottom: 10px;
}
.websiteLi a{
	color: black;
	text-decoration: none;
}
.websiteLi i{
	color: #F66F6A;
}
.electContainer{/*选择语言区域 隐藏部分*/
	width: 100%;
	height: 300px;
	display: none;
}
.Global{
	padding: 20px 0 10px;
}
.electUl{
	list-style-type: none;
}
.electLi{
	width: 20%;
	float: left;
	padding-top: 20px;
	font-size: 14px;
}
.electLi a{
	color: black;
}
.whiteTop{
	width: 100%;
	height: 55px;
	border-bottom: 1px solid #EEEEEE;
	box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
	position: relative;
	overflow: hidden;
	padding-top: 20px;
}
.hw{
	width: 13%;
    float: left;
    overflow: hidden;
    margin-right: 50px;	
}
.hw img{
	width: 100%;
}
.whiteTopCenter{
	width: 75%;
	float: left;
}
.whiteTop-text{
	float: left;
	padding-left: 20px;
	font-size: 18px;
	line-height: 35px;
	cursor: pointer;
}
.whiteTop-text:hover{
	color: #F77C77;
}
.whiteTopCenter-part1{
	float: left;
	padding-right: 25px;
}
.whiteTopCenter img{
	float: left;
	width: 40px;
}
.whiteTopCenter-part2{
	float: left;
	padding-right: 25px;
}
.search{/*搜索*/
	width: 4%;
	float: right;
}
@media only screen and (max-width: 768px) {
	.search{
		display: none;
	}
}
.searchOpen{/*大屏时显出的搜索图标*/
    float: right;
	font-size: 27px;
	cursor: pointer;
}
.searchClose{/*点击搜索后出现的样式*/
    /*transform: scale3d(1, 1, 1);
	transform-origin: right center;
	transition: transform .3s;*/
	position: absolute;
	right: 0;
	width: 400px;	
	padding-right: 100px;
	display: none;
}
.search-input{
	width: 100%;
	position: relative;	
}
.search-input input{
	width: 100%;
	outline: none;
	height: 48px;
	font-size: 16px;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	padding-left: 20px;
	padding-right: 50px;	
}
.searchClose a{
	color: black;
	font-size: 40px;
	position: absolute;
	top: 5px;
	right: 0px;
}
.searchSuo{/*缩放时出现样式*/
	overflow: hidden;
	display: none;
}
@media only screen and (max-width: 768px) {
	.searchSuo{
		display: block;
	}
}
.searchSuo-ul{
	list-style-type: none;
	float: right;
}
.searchSuo li{
	float: right;
	margin-right: 15px;
	margin-top: 20px;
	font-size: 25px;
	color: #060606ad;
	cursor: pointer;
}
.hwP30{
	position: relative;
	overflow: hidden;
	width: 50%;
	height: 450px;
}
.hwP30Left{
	width: 100%;
	height: 400px;
	background-color: dodgerblue;
}
