*{
	margin: 0;
	padding: 0;
}
.container{
	width: 80%;
	height: auto;
	margin: 0 auto;
	position: relative;
}
@media only screen and (max-width: 1200px) {
	.container{
		width: 95%;
	}
}
.containerr{
	width: 80%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
@media only screen and (max-width: 1200px) {
	.containerr{
		width: 100%;
	}
}
.blackTop{/*顶部黑色区域*/
	width: 100%;
	height: 30px;
	background-color: black;
	line-height: 28px;
	font-weight: bold;
	position: relative;
}
@media screen and (max-width: 768px){
	/*如果文档宽度小于 768像素则隐藏*/
	.blackTop{
		display: none;
	}
}
.blackTop a{
	color: white;
	text-decoration: none;	
	font-size: 12px;
}
.blackTop i{	
	color: white;
}

.website{/*左侧导航，集团网站*/
	float: left;
}

.blackTopRight{/*右侧导航*/
	float: right;
}
.blackTopRight img{/*右侧球和锁*/
	width: 15px;
	float: left;
	padding: 8px 10px;
}
.elect{/*选择区域/语言*/
	float: right;
	margin-right: 10px;
}

.register{/*登录*/
	float: right;
	border-left: 1px solid darkgray;
}
.elect a:hover{
	text-decoration: underline;
}
.register a:hover{
	text-decoration: underline;
}

.websiteContainer{/*集团网站 隐藏部分*/
	width: 100%;
	height: 150px;
	display: none;
}
.websiteUl{
	list-style-type: none;
	padding: 40px 0;
}
.websiteLi{
	float: left;
	width: 19%;
	padding-right: 60px;
	font-size: 14px;
}
.websiteLi h4{
	margin-bottom: 10px;
}
.websiteLi a{
	color: black;
	text-decoration: none;
}
.websiteLi i{
	color: #F66F6A;
}
.electContainer{/*选择语言区域 隐藏部分*/
	width: 100%;
	height: 300px;
	display: none;
}
.Global{
	padding: 20px 0 10px;
}
.electUl{
	list-style-type: none;
}
.electLi{
	width: 20%;
	float: left;
	padding-top: 20px;
	font-size: 14px;
}
.electLi a{
	color: black;
}
.whiteTop{/*白色顶部*/
	width: 100%;
	height: 75px;
	border-bottom: 1px solid #EEEEEE;
	box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
	position: relative;
}
@media only screen and (max-width: 768px) {
	.whiteTop{
		height: 66px;
	}
}
.hw{/*HUAWEI标志*/
	width: 20%;
	height: 100%;
	float: left;
}
.hw img{
	width: 80%;
	height: 40px;
	padding: 20px 10%;
}
.whiteTopCenter{/*白色导航中间部分*/
	float: left;
	width:70%;
	height: 100%;
}
@media only screen and (max-width: 768px) {	
	
	.whiteTopCenter{
		display: none;
	}
}
.classifyPart1{/*标志右侧俩列表*/
	width: 63%;
	height: 100%;
	float: left;
	margin-right: 6%;
	border-right: 2px solid gainsboro;
}
.classify{
	width: 50%;
	height: 100%;
	float: left;
	white-space:nowrap;
	line-height: 80px;
	vertical-align:middle;
	overflow: hidden;
}

.classify p{
	float: left;
}
.classify p:hover{
	color: #F77C77;
	cursor: pointer;
}
.classify img{
	width: 30px;
	height: 30px;
	padding: 25px 0;
	float: left;
}

.classifyPart2{/*华为商城 华为云*/
	width: 30%;
	height: 100%;
	float: left;
}
.classifyYin{
	width: 100%;
	height: 400px;
	background-color: white;
	position: absolute;
	top: 100px;
	left: 0;
	z-index: 1;
}







.search{
	padding-top: 15px;
	margin-right: 0;
}
@media only screen and (max-width: 768px) {
	.search{
		display: none;
	}
}
.searchOpen{/*大屏时显出的搜索图标*/
    float: right;
	font-size: 27px;
	padding-top: 10px;
	cursor: pointer;
}
.searchClose{/*点击搜索后出现的样式*/
	position: absolute;
	right: 0;
	width: 400px;	
	padding-right: 100px;
	display: none;
}
.search-input{
	width: 100%;
	position: relative;	
}
.search-input input{
	width: 100%;
	outline: none;
	height: 48px;
	font-size: 16px;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	padding-left: 20px;
	padding-right: 50px;	
}
.searchClose a{
	color: black;
	font-size: 40px;
	position: absolute;
	top: 5px;
	right: 0px;
}
.searchSuo{/*缩放时出现样式*/
	overflow: hidden;
	display: none;
}
@media only screen and (max-width: 768px) {
	.searchSuo{
		display: block;
	}
	.searchClose{
		width: 100%;
	}
}
.searchSuo-ul{
	list-style-type: none;
	float: right;
}
.searchSuo li{
	float: right;
	margin-right: 15px;
	margin-top: 20px;
	font-size: 25px;
	color: #060606ad;
	cursor: pointer;
}
.hwP30{/*HUAWEI P30*/
	width: 100%;
	height: 650px;
	position: relative;
	overflow: hidden;
	margin-bottom: 70px;
	padding-top: 100px;
}
@media only screen and (max-width: 768px) {
	.hwP30{
		height: auto;
	}
}
.hwP30Left{
	background-color: #3BBDDD;
	width: 50%;
	float: left;
	position: relative;
}
@media only screen and (max-width: 768px) {
	.hwP30Left{
		width: 100%;
		height: 50%;
		padding-top: 50%;
	}
}
.hwP30Left-text{
	width: 240px;
	margin-top: 80px;
	margin-left: 10%;
	color: white;
}
@media only screen and (max-width: 768px) {
	.hwP30Left-text{
		margin-left: 5%;
		margin-top: 0;
	}
}
.img1{
	width: 100%;
}
.hwP30Left-p{
	margin: 20px 0;
	font-size: 20px;
}
.hwP30Left-more{
	margin-top: 60px;
	font-size: 25px;
}
@media only screen and (max-width: 768px) {
	.hwP30Left-more{
		display: none;
	}
}
.hwP30Left-small{
	font-size: 15px;
	margin: 90px 0;
}
.hwP30Left-img{
	position: absolute;
	top: 60px;
	right: -65px;
	padding-bottom: 15px;
	width: 260px;
}
@media only screen and (max-width: 768px) {
	.hwP30Left-img{
		position: absolute;
		top: -100px;
		left: 285px;
	}
}
.img2{
	position: absolute;
	bottom: -40px;
	width: 100%;
	height: 100px;
}
@media only screen and (min-width: 1024px) {
	.img3:hover{
		transform: translateY(-20px);
		transition-duration:0.3s;			
	}
	.img3:hover .img2{
		transform: translateY(20px);
		transition-duration:0.3s;	
	}
}

.hwP30Right{
	float: left;
	margin-left: 10%;
	width: 40%;
	height: 100%;
	position: relative;
}
@media only screen and (max-width: 768px) {
	.hwP30Right{
		width: 100%;
		margin-left: 0;
		margin-top: 30px;
	}
}
.hwP30Right img{
	width: 100%;
	height: 40%;
}

.imgBottom{
	width: 70%;
	height: 50%;
	padding: 10% 15%;
	background-color: #DDE6ED;
}

.imgBottom-p1{
	color: darkgray;
	font-size: 16px;
	margin-bottom: 30px;
}
.imgBottom-p2{
	font-size: 18px;
	margin-top: 20px;
}
.imgBottom-p3{
	margin-top: 110px;
	font-size: 25px;
}
@media only screen and (max-width: 768px) {
	.hwP30Right img{
		height: 60%;		
	}
	.imgBottom{
		height: 30%;
		padding-top: 5%;
		text-align: center;
	}
	.imgBottom-p1{
		margin-bottom: 20px;
	}
	.imgBottom-p2{
		margin-top: 10px;
	}
	.imgBottom-p3{
		display: none;
	}
}
.hwMateX{/*hwMateX*/
	width: 100%;
	height: 700px;
	position: relative;
	margin-bottom: 50px;
}
.big{
	width: 100%;
	height: 100%;
}
.small{
	position: absolute;
	right: 50px;
	top: 30px;
}
.knowMore{
	position: absolute;
	bottom: 390px;
	right: 200px;
	font-size: 24px;
}
.yin{
	display: none;
}
@media only screen and (max-width: 768px) {
	.big{
		display: none;
	}
	.yin{
		display: block;
		width: 100%;
		height: 100%;
	}
	.small{
		position: absolute;
		left: 70px;
	}
	.knowMore{
		display: none;
	}
}
.activity{/*展会活动*/
	width: 100%;
	height: 580px;
	position: relative;
	margin-bottom: 50px;
}
.activityTitle,.successThingTitle,.newsTitle{/*展会活动 成功故事 近期新闻 标题部分*/
	width: 100%;
	height: 60px;
	font-size: 25px;
	line-height: 60px;
}
.activityTitle h2,.successThingTitle h2,.newsTitle h2{/*展会活动 成功故事 近期新闻 h2部分*/	
	float: left;
	
}
.activityTitle a,.successThingTitle a,.newsTitle a{/*展会活动 成功故事 近期新闻  查看更多部分*/
	color: black;
	text-decoration: none;
	float: right;	
}
.activityTitle i,.successThingTitle i,.newsTitle i{/*展会活动 成功故事 近期新闻  查看更多的i部分*/
	padding-left: 10px;
}
.activityTitle a:hover .i {/*触碰时效果*/
	position: relative;
	left: 15px;
}
.successThingTitle a:hover .i {/*触碰时效果*/
	position: relative;
	left: 15px;
}
.newsTitle a:hover .i{/*触碰时效果*/
	position: relative;
	left: 15px;
}
.activityPart{ 
	width: 100%;
	height: 520px;
}
.activityLeft{
	width: 40%;
	height: 280px;
	padding: 5% 5%;
	margin: 5% 0;
	background-color: #DCE6EE;
	float: left;
}

.activityP1{
	color: gray;
	font-size: 18px;
	margin-bottom: 20px;
}
.activityLeft h3{
	font-size: 28px;
	margin-bottom: 20px;
}
.activityTime{
	margin-bottom: 20px;
	font-size: 18px;
}
.activityP2{
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 26px;
}
.activityMore{
	font-size: 20px;
}
.activityRight{
	width: 50%;
	height: 100%;
	float: left;
}
.activityRight img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
@media only screen and (max-width: 768px) {
	.activity{
		height: 620px;
	}
	.activityTitle{
		padding-left: 5%;
		width: 95%;
	}
	.activityTitle a{
		display: none;
	}
	.activityPart{
		width: 96%;
		height: 560px;
		padding: 0 2%;
	}
	.activityLeft{
		width: 90%;
		text-align: center;
		padding: 26% 5% 0;
		margin-top: 15%;
	}
	.activityRight{
		width: 40%;
		height: auto;
		position: absolute;
		top: 10%;
		left: 30%;
	}
	.activityRight img{
		height: auto;
	}
	.activityMore{
		display: none;
	}
}




.successThing{/*成功故事*/
	width: 100%;
	height: 560px;
	position: relative;
	margin-bottom: 80px;
}

.successThingPart{
	width: 100%;
	height: 390px;
	padding-top: 110px;
	position: relative;
}
.successThingPart1{
	width: 28%;
	height: 100%;
	float: left;
	margin: 0 3.5%;
	background-color: #dde6ed;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	position: relative;
}
.successThingPart1 img{
	width: 100%;
	height: 180px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	position: absolute;
	top: -80px;
	right: 0;	
}
.successThingPart1 img:hover{
	position: absolute;
	top: -80px;
	right: 23px;
}
.tuXia{
	width: 76%;
	height: 210px;
	padding: 40px;
	position: absolute;
	bottom: 0;
}
.tuXia p{
	font-size: 15px;
	color: gray;
	margin-bottom: 25px;	
}
.tuXia h3{
	font-size: 23px;
}
.tuXia .more{
	margin-top: 40px;
	font-size: 23px;
	color: black;
}
.tuXia .more i{
	padding-left: 10px;
}

@media only screen and (max-width: 768px) {
	.successThing{
		height: 585px;
		margin-bottom: 30px;
	}
	.successThingTitle h2{
		font-size: 28px;
		padding-left: 20px;
	}
	.successThingTitle a{
		display: none;
	}
	.successThingPart{
		width: 90%;
		height: 87%;
		padding: 2% 5% 0 5%;
	}
	.successThingPart1{
		width: 100%;
		margin: 0 0 30px 0;
		height: 150px;
		
	}
	.successThingPart1 img{
		width: 40%;
		height: 150px;
		position: absolute;
		right: 0;
		top: 0;
	}
	.tuXia{
		width: 50%;
		padding: 4% 5%;
		height: auto;
	}
	.tuXia p{
		margin-bottom: 16px;
	}
	.tuXia h3{
		font-size: 18px;
	}
	.tuXia .more{
		display: none;
	}
}
.news{/*近期新闻*/
	width: 100%;
	height: 600px;
	position: relative;
}

.newsPart{
	width: 100%;
	height: 540px;
}
.newsPart1{
	width: 35%;
	height: 100%;
	float: left;
	margin-left: 2%;
	margin-right: 2%;			
}
.newsPart2{
	width: 60%;
	height: 100%;
	float: left;
}
.newsPart1 img{
	width: 100%;
	height: 240px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.newsInformation{
	width: 84%;
	height: 232px;
	background-color: #DDE6ED;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 8% 8%;	
}
.newsInformation .time{
	color: gray;
	font-size: 16px;	
}
.xianYin h2{
	width: 100%;
	margin-top: 20px;
}
.xianYin .yin{
	display: none;
	padding-top: 25px;
	font-size: 18px;
	letter-spacing: 2px;
}
.newsInformation .more{
	font-size: 25px;
	margin-top: 90px;
}
.newsInformation .more i{
	padding-left: 10px;
}
.newsPart2{
	margin-left: 8%;
	width: 53%;
	height: 100%;
}
.newsPart2 ul{
	list-style-type: none;
	padding-right: 7%;
	height: 100%;
}
.newsPart2 ul li{
	padding-top: 110px;
}
.newsPart2 ul li p{
	color: gray;
	font-size: 16px;
	margin-bottom: 10px;
}
.newsPart2 ul li a{
	color: black;
	font-size: 20px;
	float: left;
	text-decoration: none;
}
.newsPart2 ul li a:hover{
	text-decoration: underline;
}
@media only screen and (max-width: 768px) {
	.newsTitle h2{
		font-size: 28px;
		padding-left: 20px;
	}
	.newsTitle a{
		display: none;
	}	
	.newsPart1{
		width: 100%;
		margin: 0;
		height: auto;
	}
	.newsInformation{
		text-align: center;
	}
	.xianYin .yin{
		display: block;
		line-height: 22px;
	}
	.newsInformation .more{
		display: none;
	}
	.newsPart2{
		width: 100%;
		margin: 0;
	}
	.newsPart2 ul{
		padding-top: 30px;
		padding-left: 30px;
	}
}
.footer{/*底部*/
	background-color: #f0f0f0;
	padding-top: 60px;
}
.row{
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}
.part11{
	width: 25%;
	float: left;
}
.part12{
	width: 17%;
	float: left;
}
.part13{
	width: 8%;
	float: left;
}
.footer-title{
	font-size: 22px;
	margin-bottom: 20px;
}
.footer-ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.footer-li{
	padding-bottom: 10px;
}
.footer-i{
	padding-bottom: 12px;
}
.footElse{
	position: relative;
	margin-bottom: 30px;	
}
.row1{
	overflow: hidden;
	margin-bottom: 20px;
}
.part2{
	width: 25%;
	float: left;
	padding-bottom: 10px;
}
@media only screen and (max-width: 991px) {
	
    .footer{
		position: relative;
		padding-top: 120px;
		width: 100%;
		overflow: hidden;
		font-size: 24px;
	}
	.footer h3{
		font-size: 28px;
	}
	.part11{
		width: 100%;
	}
	.part12{
		width: 100%;
	}
	.part2{
		width: 50%;
	}
	.footer-title{
		width: 100%;
	}
	.row{
		padding-top: 100px;
	}
	.part13{
		position: absolute;
		top: 0px;
		width: 100%;
	}
	.footer-i{
		font-size: 28px;
		display: inline-block;
		margin-bottom: 15px;
		margin-right: 40px;
	}
	.footer-li{
		margin-bottom: 20px;
		float: left;
		width: 50%;
	}

}
.footBottom{/*黑色底部*/
	width: 100%;
	height: 50px;
	background-color: #222222;
	position: relative;
}
.containerrr{
	width: 85%;
	height: 100%;
	line-height: 50px;
	margin: 0 auto;
}
.footBottomLeft{
	float: left;
	color: white;
}
.footBottomRight{
	float: right;
}
.footBottomRight li{
	float: left;
	margin: 0 15px;
	list-style-type: none;
	color: white;
}
.footBottomRight li a{
	color: white;
	text-decoration: none;
}
.foot-bot{
	width: 100%;
	height: 5px;
	position: absolute;
	bottom: 0;
	left: 0;
}
@media only screen and (max-width: 991px) {
	
	.footBottom{
		background-color: transparent;
	}
	.containerr{
		line-height: 20px;
	}
	.footBottomLeft{
		float: inherit;
		color: black;
		text-align: center;
	}
	.footBottomRight{
		display: none;
	}
	.foot-bot{
		background-color: #222222;
	}
}